body{
	background-image: url("bg.png") ;
	background-repeat: no-repeat;
    background-position-x: center;
	background-attachment: fixed;
	height: 768px;
	
	background-size: cover; 
	background-size:fixed;
}
  
.page-wrapper {
    background-color: #d1a982;
    opacity: 0.98;
}
